
.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .menu-logo{
    img {
      height: 26px;
      margin: 0 4px 3px 0;
      vertical-align: middle;
    }
  }

  .nav-route {
    &.nav-route-active {
      border-bottom: 3px solid white;
    }
  }
}
